* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  list-style: none;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(0,0,0,0.5), rgb(0,0,0,0.5)), url("denis-degioanni-.jpg");
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-position: bottom center;
}

/******* NAV *******/

nav {
  position: fixed;
  width: 35%;
  top: 70px;
  background: linear-gradient(rgb(255, 255, 255, 0.3), rgb(255, 255, 255, 0.3));
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
} 

nav ul li {
  padding: 16px;
  font-size: 18px;
  font-weight: bold;
}

nav ul li a {
  display: inline-block;
  transition: 250ms;
}

nav ul li a:hover, .currentPage {
  color: rgb(230, 167, 119);
}

nav ul li a:active {
  color: white;
}


/******* HOME *******/

#home, #skills, #family {
  position: relative;
  width: 65%;
  display: flex;
  justify-content: space-between;
  animation: in 0.9s;
}

@keyframes in {
  0% {
    opacity: 0;
    transform: rotateX(-45deg);
  }
  100% {
    opacity: 1;
    transform: rotateX(0);
  }
}



.description {
  width:65%;
  padding: 40px;
  background: linear-gradient(rgb(255, 255, 255, 0.2), rgb(255, 255, 255, 0.2));
}

.description p {
  margin-right: 60px;
}

.picture {
  position: relative;
  width: 30%;
  /* height: 95%; */
}

.picture img {
  position: absolute;
  top: 20%;
  right: 40%;
  width: 100%;
  height: 400px;
}

/******* SKILLS *******/

/******* FAMILY *******/

